.banner {
  margin-bottom: 50px;
  width: 100%;
  height: 50vh;
  position: relative;
  background: url("../image/image-contact/eye-3115723_1920.jpg") center no-repeat;
  background-size: cover;
  opacity: 0.9;
  background-color: rgba(26, 25, 25, 0.5);
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}
.banner .banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner .banner-text h1 {
  font-size: 50px;
  font-weight: 600;
}
.banner .banner-text h2 {
  font-size: 40px;
}
.banner .banner-text h2 a {
  text-decoration: none;
  color: #1d2020;
}
.map-container-2 {
  margin-bottom: 50px;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container-2 .iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
@media (max-width: 768px) {
  .banner {
    background-size: cover;
    margin-top: 0px !important;
  }
  .banner .banner-text {
    top: 70%;
    width: 100%;
  }
  .banner .banner-text h1 {
    font-size: 35px;
  }
}
